@model WEB.Models.ResetForgotPassword
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Fee/Fee.js"></script>
<div class="row">
    <div class="col-md-4 form-holder">
        <!--Form with header-->
        <div class="margin-lf">
            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                <div class="card border-primary rounded-0" style="border-radius: 18px !important;">
                    <div class="card-header p-0">
                        <div class="bg-info text-white text-center py-2">
                            <h3>
                                <i class="fa fa-user" aria-hidden="true" style="color: #555 !important;"></i> Forgot Password
                            </h3>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <!--Body-->
                        @{Html.RenderPartial("_Message", Model);}
                        <div class="form-group">
                            <div class="input-group mb-2 mb-3" style="margin-bottom:30px !important;">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-user text-info"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control mandate", @placeholder = "User Name", title = "Enter User Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-key text-info"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(model => model.OTP, new { @class = "form-control form-controal2 mandate", @placeholder = "OTP", @style = "font-size: 11px", title = "Enter OTP" })
                                <a href="#" onclick="return getOTP();" title="OTP will send on your registered mail id.">Get OTP</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-envelope text-info"></i>
                                    </div>
                                </div>
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control form-controal2 mandate", @placeholder = "New Password", @style = "font-size: 11px", title = "Enter New Password", @msg = "Please enter valid New Password.", @pat = "^[A-Za-z0-9_$@]*$", @minlength = "8", @maxlength = "100", @onkeypress = "return isKeyValid(event,'65-90,97-122,48-57,95,36,64');", @autocomplete = "off" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-envelope text-info"></i>
                                    </div>
                                </div>
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-controal2 mandate", @placeholder = "Confirm Password", @style = "font-size: 11px", title = "Enter Confirm Password", @msg = "Please enter valid confirm Password.", @pat = "^[A-Za-z0-9_$@]*$", @minlength = "8", @maxlength = "100", @onkeypress = "return isKeyValid(event,'65-90,97-122,48-57,95,36,64');", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Submit" style="margin-bottom:30px !important; position:relative;top:12px; font-size:15px !important;" class="btn btn-info btn-block rounded-0 py-2 btnforgotpwd" onclick="return ValidatePassword();">
                        </div>
                        <div class="text-center">
                            <a href="#" onclick="return login();">Login</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    var msg = '@TempData["Msg"]';
    if (msg != "") {
        alert(msg);
        }
    });
    function login() {
        window.location.href = window.location.origin;
    }
    function getOTP() {
        if ($.trim($("#UserName").val()) == "") {
            alert("Please enter User Name.");
            return false;
        }
        else {
            BlockUI();
            $.ajax({
                type: "POST",
                url: window.location.origin + '/Account/GetOTP',
                headers: { "__RequestVerificationToken": $(':input[name="__RequestVerificationToken"]').val() },
                data: '{"UID":"' + $.trim($("#UserName").val()) + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    $.unblockUI();
                },
                failure: function (response) {
                    alert(response.d);
                    $.unblockUI();
                },
                error: function (response) {
                    alert(response.d);
                    $.unblockUI();
                }
            });
        }
    }
    function ValidatePassword() {
        if (inputValidation()) {
            if ($.trim($("#NewPassword").val()) != $.trim($("#ConfirmPassword").val())) {
                alert("New Password and confirm password should be match.");
                return false;
            }
            return true;
        }
        else {
            return false;
        }
    }
</script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script type="text/javascript">
    function BlockUI() {
        $.blockUI({ message: $("#waitMessageDiv") });
    }
</script>
<div id="waitMessageDiv" style="display:none;">
    <div class="wait_New w100 center">
        <img src="~/Content/Images/loading.gif" />
    </div>
</div>

