@model WEB.Models.ResetForgotPassword
@using WEB.AppCode
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h4>
        Reset Password
    </h4>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Reset Password</li>
    </ol>
</section>
<script src="~/Scripts/Fee/Fee.js"></script>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="pwd" class="redlabel">
                                User Name:
                            </label>
                        </div>
                        <div class="col-lg-2">
                            @Html.DisplayFor(m => m.UserName)
                            @Html.HiddenFor(m => m.UserId)
                            @Html.HiddenFor(m => m.UserName)
                        </div>
                        <div class="col-lg-2">
                            <label for="pwd">
                                New Password:
                            </label>
                        </div>
                        <div class="col-lg-2">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control mandate", @placeholder = "New Password", @msg = "Please enter New Password.", @pat = "^[A-Za-z0-9_$@]*$", @minlength = "8", @maxlength = "100", @onkeypress = "return isKeyValid(event,'65-90,97-122,48-57,95,36,64');", @autocomplete = "off" })
                        </div>
                        <div class="col-lg-2">
                            <label for="pwd">
                                Confirm Password:
                            </label>
                        </div>
                        <div class="col-lg-2">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mandate", @placeholder = "Confirm Password", @msg = "Please enter Confirm Password.", @pat = "^[A-Za-z0-9_$@]*$", @minlength = "8", @maxlength = "100", @onkeypress = "return isKeyValid(event,'65-90,97-122,48-57,95,36,64');", @autocomplete = "off" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="pwd" class="redlabel">
                                First Name:
                            </label>
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control mandate", @placeholder = "First Name", @msg = "Please enter First Name.", })
                        </div>
                        <div class="col-lg-2">
                            <label for="pwd">
                                Last Name:
                            </label>
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control mandate", @placeholder = "Last Name", @msg = "Please enter Last Name.", })
                        </div>
                        <div class="col-lg-2">
                            <label for="pwd">
                                Mobile Number:
                            </label>
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control mandate", @placeholder = "Mobile Number", @msg = "Please enter Mobile Number.", @pat = "^[0-9_$@]*$", @minlength = "10", @maxlength = "10", @onkeypress = "return isKeyValid(event,'65-90,97-122,48-57,95,36,64');", @autocomplete = "off" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="pwd" class="redlabel">
                                Email ID:
                            </label>
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control mandate", @placeholder = "Email ID", @msg = "Please enter Email ID.", })
                        </div>
                        <div class="col-lg-2">
                            <label for="pwd">
                              Profile Photo:
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="file" id="employeephotoimge" name="employeephotoimge" style="display:none;">
                            <a onclick="$('#employeephotoimge').click();">
                                @if (Model.IMAGE != null)
                                {
                                    <img id="employeephotoimgepreview" src="@Model.IMAGE" style="width:75px;height:75px;" />

                                }
                                else
                                {
                                    <img id="employeephotoimgepreview" src="~/Content/Images/dummyemployee.png" style="width:50px;height:50px;" />
                                }

                            </a>
                        </div>
                        <div class="col-lg-2">
                            <label for="pwd">
                               
                            </label>
                        </div>
                        <div class="col-lg-2">
                          
                        </div>
                    </div>


                    <hr />
                    <div class="col-sm-12 col-md-12 right_bottom">
                        <input type="submit" value="Save" name="btntype" class="btn btn-primary pull-right" id="Submit" onclick="return ValidatePassword();" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
<script>
      /*---------------For Student Image-------------*/
            var p1 = $("#employeephotoimgepreview");
            $("#employeephotoimge").change(function () {
                var imgPath = document.getElementById("employeephotoimge").files[0].name;
                var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
                if (extn == "png" || extn == "jpg" || extn == "jpeg") {
                    p1.fadeOut();
                    var Freader = new FileReader();
                    Freader.readAsDataURL(document.getElementById("employeephotoimge").files[0]);
                    Freader.onload = function (oFREvent) {
                        var scrll = oFREvent.target.result;
                        p1.attr('src', oFREvent.target.result).fadeIn();
                    }
                }
                else {
                    $("#employeephotoimge").val('');
                    alert("Please upload image file only having extension png, jpg, jpeg.")
                }
            });

            /*--------------End For Student Image---------------*/
</script>