@model WEB.Models.PeriodModel
@using WEB.AppCode
@using SHARED
@{
    ViewBag.Title = "Add Period";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS
{
    <link href="/Content/JsTree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
}

<section class="content-header">
    @if (Model.ActionName == Constants.BTN_CREATE)
    {
        <h4 class="box-title">
            Add Period
        </h4>
    }
    else
    {
        <h4 class="box-title">
            Update Period
        </h4>
    }
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Admin/PeriodList">Period Master</a></li>
        @if (Model.ActionName == Constants.BTN_CREATE)
        {
            <li class="active">Add Chapter</li>
        }
        else
        {
            <li class="active">Update Chapter</li>
        }
    </ol>
</section>
@using (Html.BeginForm("CreatePeriod", "Admin", FormMethod.Post, new { }))
{

    @Html.HiddenFor(m => m.Pmid)
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="pwd" class="redlabel">
                                    Period Name:
                                </label>
                            </div>
                            <div class="col-lg-3">
                                @Html.TextBoxFor(model => model.PeriodName, new { @class = "form-control mandate", id = "txtperiodname",  @msg = "Please enter Chapter name.", @pat = "^[A-Za-z 0-9]*$", @onkeypress = "return isKeyValid(event,'32,48-57,65-90,97-122');", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.PeriodName)
                            </div>

                            <div class="col-lg-3">
                                <label for="pwd" class="redlabel">
                                    Period Description:
                                </label>
                            </div>
                            <div class="col-lg-3">
                                @Html.TextBoxFor(model => model.Perioddesc, new { @class = "form-control" })
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="pwd" class="redlabel">
                                    Start Time:
                                </label>
                            </div>
                            <div class="col-lg-3">

                                @Html.TextBoxFor(model => model.PeriodStart, new { @class = "form-control mandate txtTimePicker", id = "txtPeriodStart" })
                            </div>

                            <div class="col-lg-3">
                                <label for="pwd" class="redlabel">
                                    End Time:
                                </label>
                            </div>
                            <div class="col-lg-3">
                                @Html.TextBoxFor(model => model.PeriodEnd, new { @class = "form-control mandate txtTimePicker", id = "txtPeriodEnd" })

                            </div>

                        </div>
                        <hr />
                        <div class="row pull-right">
                            <div class="col-lg-12">

                                @if (Model.ActionName == Constants.BTN_CREATE)
                                {
                                    <input type="submit" name="btntype" value="Create" id="btnadd" onclick = "return ValidateperiodNameExist(); " class="btn btn-success" />
                                    <input type="reset" class="btn btn-primary " name="btntype" value="Clear" onclick="return Clear();" />
                                }
                                else if (Model.ActionName == Constants.BTN_EDIT)
                                {

                                    <input type="submit" class="btn btn-success" name="btntype" value="Update" id="btnupdate" onclick = "return ValidateperiodNameExist(); " />
                                    <input type="reset" class="btn btn-primary" name="btntype" value="Cancel" onclick="history.go(-1);" />
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
@section JS
{

    <script type="text/javascript">
        function ValidateperiodNameExist() {
             var _periodname = $("#txtperiodname").val();
            var _starttime = $("#txtPeriodStart").val();
            var _endtime = $("#txtPeriodEnd").val();
            if (_starttime.length > 0) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Admin/CheckIsPeriodExist',
                    data: JSON.stringify({ _periodname:_periodname,_psttime: _starttime, _pendtime: _endtime}),
                    dataType: "json",
                    success: function (data) {
                        if (data.periodname == true) {
                            alert("Period  already exists");
                            $('#txtperiodname').val('');
                            $('#txtperiodname').focus();
                            return false;
                        }
                         
                    },
                    error: function (data) {
                        // throw ex;
                    }

                });
            }
        }

        function Clear() {
            $('input[type="text"]').attr('value', '');

        }
    </script>
}
