@model WEB.Models.DailyattendanceModel
@using WEB.AppCode
@using System.Data;
@using SHARED
@{
    ViewBag.Title = "Daily Attendance ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
@section CSS
{
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Daily Attendance

    </h1>
    <ol class="breadcrumb" style="font-size:16px">
        <li><a href="#"><i class="fa fa-users"></i> Student List</a> </li>
        <li><a href="#"><i class="fa fa-print"></i> Print</a> </li>
        <li><a href="#"><i class="fa fa-home"></i> Home</a> </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        @using (Html.BeginForm("dailyattendance", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @role = "form" }))
        {
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Daily Attendance </h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">

                            <table id="example2" class="table table-bordered table-hover">
                                <tr>

                                    <td>
                                        <div class="form-group">
                                            <label>Class   </label>
                                            @Html.DropDownListFor(m => m.SelectClassId, new SelectList(Model.ClassList, "CMid", "ClassName"), "-- Select--", new { @class = "form-control chosen-select", @onchange = "return Getsectionbaseonclass(this)" })
                                            @Html.ValidationMessageFor(m => m.SelectClassId)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label> Section   </label>
                                            @Html.DropDownListFor(m => m.SelectSectionId, new SelectList(Model.ClassSectionList, "Secmid", "SectionName"), "-- Select--", new { @class = "form-control chosen-select" })
                                            @Html.ValidationMessageFor(m => m.SelectSectionId)
                                        </div>
                                    </td>
                                    <td>

                                        <div class="form-group">
                                            <label for="Attendanc Date">Attendanc Date </label>
                                            <div class="input-group date fromdatepicker">
                                                @Html.TextBoxFor(@model => model.Attendancedate, new { @class = "form-control datepicker", @onchange = "return CheckValidate();", @readonly = "readonly" })
                                                <span class="input-group-append input-group-addon ">
                                                    <i class="input-group-text2 fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                    </td>

                                </tr>

                                <tr>
                                    <td colspan="4">
                                        <div class="form-group">
                                            <input type="submit" value="Search" name="btntype" class="btn btn-primary" />
                        
                                        </div>

                                        @*<div class="form-group">
                                                <label for="exampleInputPassword1">  Search Student  </label>
                                                <input type="Text" class="form-control" id="exampleInputPassword1" placeholder=" Search Student .">
                                            </div>*@
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <!-- Form Element sizes -->



            </div><!--/.col (left) -->
        }
        <!-- right column -->
        <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-warning">
                <div class="box-header">

                    <h3> Student Attendance</h3>

                </div><!-- /.box-header -->
                @using (Html.BeginForm("dailyattendance", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @role = "form" }))
                {
                    @Html.HiddenFor(m => m.SelectClassId, new { @class = "form-control from_bg" })
                    @Html.HiddenFor(m => m.SelectSectionId, new { @class = "form-control from_bg" })
                    @Html.HiddenFor(m => m.Attendancedate, new { @class = "form-control from_bg" })
                    <div class="box-body">

                        @if (Model.Attendancestulist != null && Model.Attendancestulist.Rows.Count > 0)
                        {

                            <table id="studentattendancetbl" class="table table-bordered table-hover">
                                <tr>
                                    <th>S.No. </th>
                                    <th> Roll No</th>
                                    <th> Reg. No</th>
                                    <th>Student Name </th>
                                    <th>Father Name </th>
                                    <th>Status  <input type="hidden" id="chkbox4present" name="chkbox4present" value="0" />  <input type="checkbox" onclick="chkallradiobtn();" />  (Present All) </th>
                                    <th> Reason</th>
                                </tr>
                                @foreach (DataRow rows in @Model.Attendancestulist.Rows)
                                {
                                    i = i + 1;

                                    <tr>
                                        @foreach (DataColumn column in @Model.Attendancestulist.Columns)
                                        {
                                            <td>
                                                @{var valcolumn = @column.ToString();}
                                                @if (valcolumn != "status" && valcolumn != "remarks")
                                                {
                                                    @rows[@column]
                                                }
                                                else if (valcolumn == "status")
                                                {
                                                    <input type="hidden" id="studentid_@i" name="studentid_@i" value="@rows[@column]" />
                                                    <span style="color:#CC0000"> Present &nbsp;<input class="presentchk" type="radio" name="present_@i" id="present_@i" value="P" /> </span> <span style="color:#CC0000"> Absent &nbsp;<input type="radio" name="present_@i" id="absent_@i" value="A" /></span><span style="color: #000099"> Leave &nbsp;<input type="radio" name="present_@i" id="leave_@i" value="L" /></span>
                                                }
                                                else if (valcolumn == "remarks")
                                                {
                                                    <input type="text" class="form-control" id="remarkssec_@i" name="remarkssec_@i" placeholder="Reason" />
                                                }
                                            </td>

                                        }
                                    </tr>
                                }
                            </table>

                        }
                        else
                        {
                            <h1>No Records</h1>
                        }

                    </div>
                    <input type="hidden" id="loopcount" name="loopcount" value="@i" />
                    <input type="submit" value="Save" name="btntype" class="btn btn-primary" />
                }
            </div>
        </div> <!-- /.box-body -->





    </div> <!-- /.box -->

</section> <!-- /.content -->


@section JS
{
    <script type="text/javascript">

        $(document).ready(function () {
           // $('#studentattendancetbl').DataTable();
            $('.datepicker').datepicker({
                format: 'dd/M/yyyy',
                orientation: "bottom auto", autoclose: true,
            });
            $('#Attendancedate').val(formatDate($('#Attendancedate').val()));
        });

        /*------------------End Application No----------------------*/
         function Getsectionbaseonclass(obj) {
            debugger;
            var classId = obj.value;
            var checkUrl = '@Url.Action("GetsectionbaseonclassId", "Admin")';
            $.ajax({
                url: checkUrl,
                type: "GET",
                dataType: "JSON",
                data: { classId: classId },
                success: GetsectionbaseonclassIdSuccess,
                error: GetsectionbaseonclassIdFail
            });

        }

        function GetsectionbaseonclassIdSuccess(result) {
            FillSectionList(result.seclst);
            $("#SelectSectionId").val('').trigger("chosen:updated");
        }

        function GetsectionbaseonclassIdFail() {

        }

        function FillSectionList(SectionList) {
            var v = "<option>--Select--</option>";
            $.each(SectionList, function (i, sec) {

                v += "<option value=" + sec.Secmid + ">" + sec.SectionName + "</option>";
            });
            $("#SelectSectionId").html(v);
        }
        function chkallradiobtn() {
          //  alert($("#chkbox4present").val());
            var chkpreall = $("#chkbox4present").val() == 0 ? 1 : 0;
            $("#chkbox4present").val(chkpreall);
            if (chkpreall == 1) {
                $(".presentchk").prop("checked", true);
            } else {
                $(".presentchk").prop("checked", false);
            }
        }
    </script>
}

